 @model IList<Menu>;
 @using estore.Utilities;
<header>
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top top-bg d-none d-lg-block">
            </div>
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                            <div class="logo">
                                <a asp-controller="Home" asp-action="Index"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        @foreach (var menu in Model.Where(m => m.Levels == 1).OrderBy(m => m.MenuOrder))
                                        {
                                            var pID = menu.MenuId;
                                            var sMenu = Model.Where(s => s.ParentId == pID).OrderBy(s => s.MenuOrder).ToList();
                                            if (sMenu.Count == 0)
                                            {
                                                <li><a href="@menu.Link">@menu.MenuName</a></li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="@menu.Link">@menu.MenuName</a>
                                                    <ul class="submenu">
                                                        @foreach (var smn in sMenu)
                                                        {
                                                            <li><a href="@menu.Link">@smn.MenuName</a></li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        }

                                    </ul>

                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                            <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">                              
                                <li>
                                    <div class="shopping-card">
                                        <a asp-controller="Cart" asp-action="Index"><i class="fas fa-shopping-cart"></i></a>
                                    </div>
                                </li>

                                @if (!string.IsNullOrEmpty(Functions._username))
                                {
                                    <li class="dropdownad">
                                        <a>
                                            <span>@Functions._username</span>
                                            <i class="bi bi-chevron-down ms-1"></i>
                                        </a>
                                        <ul class="submenuad">
                                            <li>
                                                <a asp-controller="Order" asp-action="History">
                                                    <i class="bi bi-clock-history"></i> Lịch sử đặt hàng
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-controller="Home" asp-action="Logout" class="text-danger">
                                                    <i class="bi bi-box-arrow-right"></i> Đăng xuất
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li class="d-none d-lg-block">
                                        <a class="btn header-btn" asp-action="Index" asp-controller="Login">Đăng nhập</a>
                                    </li>
                                }

                            </ul>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>